*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-container{
  display: flex;

}

.auth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  z-index: 10;
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  height: 45%;
  padding: 20px;
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.auth-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: 60%;
}

.auth-buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

h4{
  color: white;
  font-size: 80px;
}

p{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 40px 4px;
  width: 100px;
  height: 100vh;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
}

.nav-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-top img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 100px);
  height: 100vh;
  margin-left: 100px;
  padding: 40px;
}

.dashboard-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100px;
  background: white;
  margin: 20px 0;
}

.dashboard-search input{
  width: 40%;
}

.dashboard-search button{
  padding: 0 8px;
  margin-left: 20px;
}

.dashboard-search p{
  color: black;
}

.my-posts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 20px;

}

.dashboard-posts{
  width: 70%;
  height: auto;
  min-height: calc(100vh - 220px);
  background: white;
}

.post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  height: 100px;
  box-shadow: 0px 0px 8px  rgb(143, 143, 143);
  margin: 10px 10px 0 10px;
  padding: 0 30px;
}

.author-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: auto;
  height: 80%;
  padding: 5px;
}

.author-container img{
  width: 80px;
  border-radius: 50%;
  margin-left: 10px;
}

.post-box{
  width: 60%;
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);

}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
  background: white;
  padding: 20px;
}

.post-header p {
  color: black;
}

.post-header h3 {
  color: black;
}

.post-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
  width: 100%;
  padding: 20px;
  background: white;
  box-sizing: border-box;
}

.post-content img {
  width: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.post-content p {
  color: black;
  width: 50%;
  margin: 20px;
}

.form-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  width: 60%;
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.form-box h2{
  font-size: 40px;
}

.form-box button{
  width: 200px;
  align-self: flex-end;
}

.image-preview{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.image-preview img {
  height: 200px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  margin: 10px;
}

.input-line{
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.input-line p {
  color: black;
}

.input-line input {
  width: 100%;
}