*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-container{
  display: flex;

}

.auth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  z-index: 10;
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  height: 45%;
  padding: 20px;
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.auth-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: 60%;
}

.auth-buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

h4{
  color: white;
  font-size: 80px;
}

p{
  color: white;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 40px 4px;
  width: 100px;
  height: 100vh;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
}

.nav-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-top img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 100px);
  height: 100vh;
  background: rebeccapurple;
  margin-left: 100px;
  padding: 40px;
}

.dashboard-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100px;
  background: white;
  margin: 20px 0;
}

.dashboard-search input{
  width: 40%;
}

.dashboard-search button{
  padding: 0 8px;
  margin-left: 20px;
}

.dashboard-search p{
  color: black;
}

.my-posts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 20px;

}

.dashboard-posts{
  width: 70%;
  height: auto;
  min-height: calc(100vh - 220px);
  background: white;
}

.post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  height: 100px;
  background: lightcoral;
  margin: 10px 10px 0 10px;
  padding: 0 30px;
}

.author-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 80%;
  padding: 5px;
}