*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-container{
  display: flex;

}

.auth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  z-index: 10;
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  height: 45%;
  padding: 20px;
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.auth-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: 60%;
}

.auth-buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

h4{
  color: white;
  font-size: 80px;
}

p{
  color: white;
}

.nav-container{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
}